.todo-container {
  text-align: center;
  /* border: 1px solid grey; */
  padding: 10px;
}

.todo-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.todo-input-container svg {
  margin-left: 10px;
}

.todo-input {
  width: 60%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 10px;
}

.todo-list-container {
  padding: 50px;
}

.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #282c34;
  padding: 5px;
}

.todo-item {
  margin: 10px;
}

.todo-actions svg {
  margin-left: 20px;
}
