.todo-container {
  text-align: center;
  /* border: 1px solid grey; */
  padding: 10px;
}

.todo-input{
  margin-bottom: 10px;
  
}
.todo-input button{
  margin-left: 10px;
  
}
.todo-list-container{
  padding: 50px;
}

.todo-item-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #282c34;
  padding: 5px;
}
.todo-item{
  margin: 10px;
}
.todo-actions{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}